.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    overflow: hidden;
    position: relative;
    /* Para recortar la imagen si es más alta que 70% de la pantalla */
}

.header img {
    width: 100%;
    height: 100%; /* La imagen mantendrá su altura original */
    object-fit: cover;
    filter: blur(1px);
}

.contenido {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 500px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
}

.info__container {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.info__container h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.info__container p {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.contenido button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
