.boton {
    background-color: #131353;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 32px;
    border: none;
    color: #FFFFFF;
    margin: 32px 0;
    cursor: pointer;
    max-width: 250px;
    height: 60px;
    font-size: 20px;
}

.boton:hover {
    color: silver;
}