.orgSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: #131353;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #131353;
    margin: 40px 0;
}

.orgSection img {
    position: absolute;
    right: 20%;
    cursor: pointer;
}